<table class="footer" align="center" style="margin: 0 64px">
    <tbody>
    <tr>
        <td style="padding: 50px 0; margin-top:40px;">
            <table class="footer-content" style="width: 100%; text-align: left;">
                <tbody>
                <tr>
                    <td style="padding-bottom:50px; padding-right: 120px">
                        <img style="width: 69px;" class="footer-logo" src="https://res.cloudinary.com/habx/image/upload/v1558022684/mail/mailing-footer-logo-x2.png" />
                    </td>
                    <td style="padding-bottom:50px;">
                        <table style="display: inline-block">
                            <tbody>
                            <tr>
                                <td style="padding-right: 16px;">
                                    <a href="https://twitter.com/habx_fr"><img src="https://res.cloudinary.com/habx/image/upload/v1558022518/mail/Footer/twitter-x2.png" alt="Twitter" width="18" /></a>
                                </td>
                                <td style="padding-right: 16px">
                                    <a href="https://fr-fr.facebook.com/habx.fr/"><img src="https://res.cloudinary.com/habx/image/upload/v1558022518/mail/Footer/fb-x2.png" alt="Facebook" width="18" /></a>
                                </td>
                                <td style="padding-right: 16px">
                                    <a href="https://fr.linkedin.com/company/habx"><img src="https://res.cloudinary.com/habx/image/upload/v1558022518/mail/Footer/linkedin-x2.png" alt="LinkedIn" width="18" /></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><a href="https://habx.fr/user/account" target="_blank" style="font-weight: 600; font-size: 14px;text-decoration:none;"><span style="color:white">Mon Compte</span></a></td>
                    <td style="font-size: 14px; color: white">104 rue de Richelieu</td>
                </tr>
                <tr>
                    <td><a href="https://habx.fr/s/contact" target="_blank" style="font-weight: 600; font-size: 14px; color: white; text-decoration:none;"><span style="color:white; text-align: left;">Contact</span></td>
                    <td style="font-size: 14px; color: white">75002 Paris</td>
                </tr>
                <tr>
                    <td><a href="https://habx.fr/projects" target="_blank" style="font-size: 14px; color: white;text-decoration:none; width: 100px;"><span style="color:white; font-weight: bold; text-align: left;">Tous nos projets</span></a></td>
                    <td style="font-size: 14px; color: white">RCS PARIS: 817 687 148</td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-top: 32px; color: white">
                        <small>
                            Conformément à la loi Informatique et Libertés du 6 janvier 1978, vous disposez d’un droit d’accès, de modification, de rectification et de suppression, sans aucun frais, des données vous concernant.<br />
                            Vous ne souhaitez plus recevoir de mails de notre part ? <a style="text-decoration: underline; color: white" href="{% unsubscribe_url %}">Se désinscrire</a>.</small>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
